<h2>Top games by playtime</h2>
<div>
  <form [formGroup]="searchForm" class="example-form" method="get" (ngSubmit)="getSelectedOptions()">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>
              <mat-icon>search</mat-icon>
              Genre Search
            </mat-label>
            <input matInput type="text" id="genre" formControlName="genre" placeholder="Ex.FPS" required>
            <mat-error *ngIf="searchForm.controls.genre.touched && searchForm.controls.genre.invalid">
              <span *ngIf="searchForm.controls.genre.errors?.required">This field is mandatory.</span>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>
              <mat-icon>search</mat-icon>
              Platform Search
            </mat-label>
            <input type="text" matInput id="platform" formControlName="platform" placeholder="Ex.PC" required>
            <mat-error *ngIf="searchForm.controls.platform.touched && searchForm.controls.platform.invalid">
              <span *ngIf="searchForm.controls.platform.errors?.required">This field is mandatory.</span>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <button mat-raised-button color="primary" type="submit">Search</button>
          <div class="center-text">
            <span>{{responseMessage}}</span>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="totalPlayTime" matSortDirection="desc">
    <!-- Game Column -->
    <ng-container matColumnDef="game">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Game</th>
      <td mat-cell *matCellDef="let element"
      > {{element.game}} </td>
    </ng-container>

    <!-- Platforms Column -->
    <ng-container matColumnDef="platforms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Platforms</th>
      <td mat-cell *matCellDef="let element"> {{element.platforms}} </td>
    </ng-container>
    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre</th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

    <!-- TotalPlayTime Column -->
    <ng-container matColumnDef="totalPlayTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Play Time</th>
      <td mat-cell *matCellDef="let element"> {{element.totalPlayTime}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClicked(row)"
        matTooltip="OPEN"
        matTooltipPosition="right"
    ></tr>
  </table>

  <mat-paginator [length]="games.length" [pageSize]="" [pageSizeOptions]="[ 8,16,20]"
                 showFirstLastButtons></mat-paginator>

  <p class="info-text mat-body-1" *ngIf="games.length <= 0 && !isLoading"> !!Oops! Kindly try another Genre and
    Platform, current search not available available!</p>
</div>
