table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.info-text {
  text-align: center;
}

h2 {
  text-align: center;
}

.mat-row:hover {
  background-color: gainsboro;
}
.td.mat-tooltip{
  margin-right: 8px;
}
button {
  margin-top: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: 0.4s;
}

button:hover:enabled {
  color: white;
  background-color: black;
}

.example-full-width {
  width: 80%;
}
