<h2>ALL GAMES</h2>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput placeholder="Ex. game" (keyup)="applyFilter()">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="userId" matSortDirection="desc">

    <!-- UserId Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UserId</th>
      <td mat-cell *matCellDef="let element"
      > {{element.userId}} </td>
    </ng-container>
    <!-- Game Column -->
    <ng-container matColumnDef="game">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Game</th>
      <td mat-cell *matCellDef="let element"> {{element.game}} </td>
    </ng-container>

    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre</th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

    <!-- Platforms Column -->
    <ng-container matColumnDef="platforms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Platforms</th>
      <td mat-cell *matCellDef="let element"> {{element.platforms}} </td>
    </ng-container>
    <!-- Playtime Column -->
    <ng-container matColumnDef="playTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PlayTime</th>
      <td mat-cell *matCellDef="let element"> {{element.playTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClicked(row)"
        matTooltip="OPEN"
        matTooltipPosition="after"
    ></tr>
  </table>

  <mat-paginator [length]="games.length" [pageSize]="" [pageSizeOptions]="[8,16,20]"
                 showFirstLastButtons></mat-paginator>

  <p class="info-text mat-body-1" *ngIf="games.length <= 0 && !isLoading">Server not running!</p>
</div>
