<mat-nav-list>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pagers</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">AllGames</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/select_top_by_playtime">Top games by playtime</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/select_top_by_players">Top games by number of players</a>
  <mat-divider></mat-divider>

</mat-nav-list>


