<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span>GAME CHART JUNIOR</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
